*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoB;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(../fonts/Roboto-Light.ttf);
}


/*NAV*/
header{
    background-image: url(../images/banner3.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    min-height: 500px;
    height: 1000px;
    color: aliceblue;
    font-family: Roboto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2%;
}
.navigation{
    list-style: none;
}
.navigation li{
    display: inline-block;
    padding: 0px 10px;
    font-family: RobotoB;
}

.navigation li a{
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
}


.orange{
    color: orange;
    border-top:  5px solid white;
    border-left: 5px solid white; 
    border-bottom: 5px solid white;
}

/*HEADER*/
.emptyspace{
    height: 30%;
}
.center{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: RobotoB;
    font-size: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 0.5em;
    place-items: center;
}
 
.readmore{
    color: white;
    text-decoration: none;
    border-radius: 25px;
    background: hsl(214, 71%, 49%);
    padding: 10px;
    width: 200px;
    font-family: Roboto;
    font-size: 20px;
}

/* WHO WE ARE */
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    text-align: center;
    gap: 2rem;
    padding: 10px;
}

h3{
    margin-top: 50px;
    font-size: 50px;
    
}
h4{
    font-size:  30px;
    color: hwb(203 18% 0%);

}
.middle{
    grid-row: 1/-1;
    grid-column: 1/-1;   
}
.item1{
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    height: 80%;
}
.item2{
    font-size: 20px;
    font-family: Roboto;
    text-align: justify;
    color: hsl(0, 0%, 38%);
}

.left{
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 30%;
}

.right{
    grid-column: 3/4;
    grid-row: 2/3;
    padding-right: 30%;
}

/* BOX WITH DIAMOND */
.border {
    width: 1    00%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 2px;
    width: 130px;
    border-top: 1px solid black;
}

.square {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    transform: rotate(50deg);
    margin: 0 10px;
}

/*LIST */

.arrow{
    margin: 0 auto;
    text-align: left;
    line-height: 50px;
    list-style-image: url("../images/arrow_bullet.png");
    width: 400px;
    font-size: 20px;
}
li.arrows{
    color: gray;
}

/* What People Say */
.blue{
    margin: 0 auto;
    background: rgb(136, 188, 255);
    color: white;
    font-family: Roboto;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    text-align: justify;
}
.Ratings-Name{
    margin-left: 50px;
}
label{
    color: black;
    font-family: RobotoB;
}
.review1{
    border-radius: 50%;
    width: 30%;
    border: 10px double white;
}

.left1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.two{
    margin: 0 50px 0 50px;
}
/* Get in touch with us */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200pxx;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    margin:0;
    color: white;
 }
.icon{
    width: 10%;
}
.house{
    height: 80%;
}
.contact{
    background: #4ec04e;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    padding-top: 15%;

}
h5{
    font-size: 20px;
    
}
.connect{
    background: #ff4c6a;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 20%;
    font-family: Roboto;
}
.secondRow{
    width: auto;
    height: 40px;
    background: #ff4c6a;
    padding-right: 5%;
}

.address{
    background: #2929ff;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
}
.adress:nth-child(2){
    padding-top: 10%;
    font-size: 15px;
    font-style: normal;
}
.houseIcon{
    background: rgb(136, 188, 255);
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Mail us */

form{
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
#name{
    grid-column: 1/2;
}
#email{
    grid-column: 2/3;
}
input{
    height: 50px;
}

#message{
    grid-column: 1 / -1;
    grid-row: 2/15;
}
button{
    background-color: #ff8800;
    color: white;
    border: none;
    grid-column: 1/2;
    grid-row-start: 15;
    width: 40%;
    height: 40px;
}
footer{
    background-color: hsl(0, 0%, 11%);
    color: white;
    padding: 20px;
    font-size: 12px;
    font-family: Roboto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: center;
}