body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/* Navigation */
.topnav{
    width: 100%;
    background-color: #C41A1A;
    padding-right: 15px;
    overflow: auto;
}
ul{
    float: right;
}
.topnav li{
    display: inline-block;
}

.topnav a{
    color: white;
    text-decoration: none;

}

/* main */
main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.image-one{ 
    margin-left: 0%;
    width: 50%;
    height: 400px;
    max-width: 50%;
    max-height: 50%;
 }
 .image-two{ 
    width: 50%;
    height: 400px;
    max-width: 50%;
    max-height: 50%;
 }

 .image1{
    width: 300px;
    height: 200px;
    background-color:#C41A1A;
    color: white;
 }

 .image2{
    width: 300px;
    height: 200px;
    background-color: darkblue;
    color: white;
 }
 .one{
    text-align: center;
 }
