<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <h1>Title</h1>
    <div class="parent">
      <div id="first-child">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi enim
          adipisci laudantium commodi aliquam placeat accusantium, quisquam
          veniam fuga assumenda veritatis odit distinctio repellendus quibusdam
          vero iure officia nesciunt fugiat?
        </p>
      </div>
      <div id="second-child">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          fuga molestiae repellendus cumque laudantium, modi tempore quae
          tempora facilis incidunt earum dolore officia voluptatem doloremque
          error. Voluptate, aspernatur quod? Commodi!
        </p>
      </div>
    </div>
  </body>
</html>
