:root{
    --blue: #1e90ff;
    --green: #65ff00;
    --purple: #9a00ff;

}



p{
    background-color: antiquewhite;
    font-size: 20px;
    width: 90vw;
    padding: 3%;
}

h2{
    color: var(--purple);
}
.pera{
    display: block;
    width: 60%;
    margin: 0 auto;
}

table{
    td,tr{
        color: var(--blue);
        border: 1px solid var(--green);
        font-size: 20px;
    }
    width: 80vw;
}
